// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2019 BayLibre, SAS
 * Author: Neil Armstrong <narmstrong@baylibre.com>
 */

/dts-v1/;

#include "meson-g12b-odroid-n2.dtsi"

/ {
	compatible = "hardkernel,odroid-n2-plus", "amlogic,s922x", "amlogic,g12b";
	model = "Hardkernel ODROID-N2+";

	vddcpu_a: regulator-vddcpu-a {
		regulator-min-microvolt = <680000>;
		regulator-max-microvolt = <1040000>;

		pwms = <&pwm_ab 0 1500 0>;
	};

	vddcpu_b: regulator-vddcpu-b {
		regulator-min-microvolt = <680000>;
		regulator-max-microvolt = <1040000>;

		pwms = <&pwm_AO_cd 1 1500 0>;
	};

	cpu_opp_table_0: opp-table-0 {
		opp-1908000000 {
			opp-hz = /bits/ 64 <1908000000>;
			opp-microvolt = <1030000>;
		};

		opp-2016000000 {
			opp-hz = /bits/ 64 <2016000000>;
			opp-microvolt = <1040000>;
		};
	};

	cpub_opp_table_1: opp-table-1 {
		opp-2304000000 {
			opp-hz = /bits/ 64 <2304000000>;
			opp-microvolt = <1030000>;
		};

		opp-2400000000 {
			opp-hz = /bits/ 64 <2400000000>;
			opp-microvolt = <1040000>;
		};
	};
};

