// SPDX-License-Identifier: (GPL-2.0-or-later OR BSD-2-Clause)
/*
 * Realtek RTD1293/RTD1295/RTD1296 SoC
 *
 * Copyright (c) 2016-2019 Andreas Färber
 */

/memreserve/	0x0000000000000000 0x000000000001f000;
/memreserve/	0x000000000001f000 0x00000000000e1000;
/memreserve/	0x0000000001b00000 0x00000000004be000;

#include <dt-bindings/clock/realtek,rtd1295.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/reset/realtek,rtd1295.h>

/ {
	interrupt-parent = <&gic>;
	#address-cells = <1>;
	#size-cells = <1>;

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		rpc_comm: rpc@1f000 {
			reg = <0x1f000 0x1000>;
		};

		rpc_ringbuf: rpc@1ffe000 {
			reg = <0x1ffe000 0x4000>;
		};

		tee: tee@10100000 {
			reg = <0x10100000 0xf00000>;
			no-map;
		};
	};

	arm_pmu: arm-pmu {
		compatible = "arm,cortex-a53-pmu";
		interrupts = <GIC_SPI 48 IRQ_TYPE_LEVEL_HIGH>;
	};

	osc27M: osc {
		compatible = "fixed-clock";
		clock-frequency = <27000000>;
		#clock-cells = <0>;
		clock-output-names = "osc27M";
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		/* Exclude up to 2 GiB of RAM */
		ranges = <0x00000000 0x00000000 0x0001f000>,
			 <0x80000000 0x80000000 0x80000000>;

		rbus: bus@98000000 {
			compatible = "simple-bus";
			reg = <0x98000000 0x200000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0x98000000 0x200000>;

			crt: syscon@0 {
				compatible = "syscon", "simple-mfd";
				reg = <0x0 0x1800>;
				reg-io-width = <4>;
				#address-cells = <1>;
				#size-cells = <1>;
				ranges = <0x0 0x0 0x1800>;
			};

			iso: syscon@7000 {
				compatible = "syscon", "simple-mfd";
				reg = <0x7000 0x1000>;
				reg-io-width = <4>;
				#address-cells = <1>;
				#size-cells = <1>;
				ranges = <0x0 0x7000 0x1000>;
			};

			cr_pinctrl: pinctrl@12600 {
				compatible = "realtek,rtd1295-cr-pinctrl";
				reg = <0x12600 0x100>;
			};

			sb2: syscon@1a000 {
				compatible = "syscon", "simple-mfd";
				reg = <0x1a000 0x1000>;
				reg-io-width = <4>;
				#address-cells = <1>;
				#size-cells = <1>;
				ranges = <0x0 0x1a000 0x1000>;
			};

			misc: syscon@1b000 {
				compatible = "syscon", "simple-mfd";
				reg = <0x1b000 0x1000>;
				reg-io-width = <4>;
				#address-cells = <1>;
				#size-cells = <1>;
				ranges = <0x0 0x1b000 0x1000>;
			};

			scpu_wrapper: syscon@1d000 {
				compatible = "syscon", "simple-mfd";
				reg = <0x1d000 0x2000>;
				reg-io-width = <4>;
				#address-cells = <1>;
				#size-cells = <1>;
				ranges = <0x0 0x1d000 0x2000>;
			};

			disp_pinctrl: pinctrl@4d000 {
				compatible = "realtek,rtd1295-disp-pinctrl";
				reg = <0x4d000 0x100>;
			};
		};

		gic: interrupt-controller@ff011000 {
			compatible = "arm,gic-400";
			reg = <0xff011000 0x1000>,
			      <0xff012000 0x2000>,
			      <0xff014000 0x2000>,
			      <0xff016000 0x2000>;
			interrupts = <GIC_PPI 9 (GIC_CPU_MASK_SIMPLE(4) | IRQ_TYPE_LEVEL_LOW)>;
			interrupt-controller;
			#interrupt-cells = <3>;
		};
	};
};

&crt {
	clkc: clock-controller@0 {
		compatible = "realtek,rtd1295-clk";
		reg = <0x0 0x1000>;
		clocks = <&osc27M>;
		#clock-cells = <1>;
	};

	reset1: reset-controller@0 {
		compatible = "snps,dw-low-reset";
		reg = <0x0 0x4>;
		#reset-cells = <1>;
	};

	reset2: reset-controller@4 {
		compatible = "snps,dw-low-reset";
		reg = <0x4 0x4>;
		#reset-cells = <1>;
	};

	reset3: reset-controller@8 {
		compatible = "snps,dw-low-reset";
		reg = <0x8 0x4>;
		#reset-cells = <1>;
	};

	reset4: reset-controller@50 {
		compatible = "snps,dw-low-reset";
		reg = <0x50 0x4>;
		#reset-cells = <1>;
	};
};

&iso {
	iso_clkc: clock-controller@0 {
		compatible = "realtek,rtd1295-iso-clk";
		reg = <0x0 0x100>;
		clocks = <&osc27M>;
		#clock-cells = <1>;
	};

	iso_irq_mux: interrupt-controller@0 {
		compatible = "realtek,rtd1295-iso-irq-mux";
		reg = <0x0 0x100>;
		interrupts = <GIC_SPI 41 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-controller;
		#interrupt-cells = <1>;
	};

	iso_reset: reset-controller@88 {
		compatible = "snps,dw-low-reset";
		reg = <0x88 0x4>;
		#reset-cells = <1>;
	};

	iso_pinctrl: pinctrl@300 {
		compatible = "realtek,rtd1295-iso-pinctrl";
		reg = <0x300 0x24>;

		i2c0_pins: i2c0-pins {
			function = "i2c0";
			groups = "i2c0";
		};

		i2c1_pins: i2c1-pins {
			function = "i2c1";
			groups = "i2c1";
		};

		uart0_pins: uart0-pins {
			function = "uart0";
			groups = "uart0";
		};

		uart1_pins: uart1-pins {
			function = "uart1";
			groups = "uart1";
		};

		uart2_0_pins: uart2-0-pins {
			function = "uart2_0";
			groups = "uart2_0";
		};

		uart2_1_pins: uart2-1-pins {
			function = "uart2_1";
			groups = "uart2_1";
		};
	};

	wdt: watchdog@680 {
		compatible = "realtek,rtd1295-watchdog";
		reg = <0x680 0x100>;
		clocks = <&osc27M>;
	};

	uart0: serial@800 {
		compatible = "snps,dw-apb-uart";
		reg = <0x800 0x400>;
		reg-shift = <2>;
		reg-io-width = <4>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart0_pins>;
		clocks = <&iso_clkc RTD1295_ISO_CLK_EN_MISC_UR0>;
		resets = <&iso_reset RTD1295_ISO_RSTN_UR0>;
		interrupt-parent = <&iso_irq_mux>;
		interrupts = <2>;
		status = "disabled";
	};

	i2c_1: i2c@c00 {
		compatible = "snps,designware-i2c";
		reg = <0xc00 0x100>;
		clocks = <&iso_clkc RTD1295_ISO_CLK_EN_I2C_1>;
		interrupt-parent = <&iso_irq_mux>;
		interrupts = <11>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "disabled";
	};

	i2c_0: i2c@d00 {
		compatible = "snps,designware-i2c";
		reg = <0xd00 0x100>;
		clocks = <&iso_clkc RTD1295_ISO_CLK_EN_I2C_0>;
		resets = <&iso_reset RTD1295_ISO_RSTN_I2C_0>;
		interrupt-parent = <&iso_irq_mux>;
		interrupts = <8>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "disabled";
	};
};

&misc {
	misc_irq_mux: interrupt-controller@0 {
		compatible = "realtek,rtd1295-misc-irq-mux";
		reg = <0x0 0x100>;
		interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-controller;
		#interrupt-cells = <1>;
	};

	uart1: serial@200 {
		compatible = "snps,dw-apb-uart";
		reg = <0x200 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		pinctrl-names = "default";
		pinctrl-0 = <&uart1_pins>;
		clocks = <&clkc RTD1295_CLK_EN_UR1>;
		resets = <&reset2 RTD1295_RSTN_UR1>;
		interrupt-parent = <&misc_irq_mux>;
		interrupts = <3>;
		status = "disabled";
	};

	uart2: serial@400 {
		compatible = "snps,dw-apb-uart";
		reg = <0x400 0x100>;
		reg-shift = <2>;
		reg-io-width = <4>;
		clocks = <&clkc RTD1295_CLK_EN_UR2>;
		resets = <&reset2 RTD1295_RSTN_UR2>;
		interrupt-parent = <&misc_irq_mux>;
		interrupts = <8>;
		status = "disabled";
	};

	rtc: rtc@600 {
		compatible = "realtek,rtd1295-rtc";
		reg = <0x600 0x100>;
		clocks = <&clkc RTD1295_CLK_EN_MISC_RTC>;
	};

	i2c_2: i2c@700 {
		compatible = "snps,designware-i2c";
		reg = <0x700 0x100>;
		clocks = <&clkc RTD1295_CLK_EN_MISC_I2C_2>;
		interrupt-parent = <&misc_irq_mux>;
		interrupts = <26>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "disabled";
	};

	i2c_3: i2c@900 {
		compatible = "snps,designware-i2c";
		reg = <0x900 0x100>;
		clocks = <&clkc RTD1295_CLK_EN_MISC_I2C_3>;
		interrupt-parent = <&misc_irq_mux>;
		interrupts = <23>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "disabled";
	};

	i2c_4: i2c@a00 {
		compatible = "snps,designware-i2c";
		reg = <0xa00 0x100>;
		clocks = <&clkc RTD1295_CLK_EN_MISC_I2C_4>;
		interrupt-parent = <&misc_irq_mux>;
		interrupts = <15>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "disabled";
	};

	i2c_5: i2c@b00 {
		compatible = "snps,designware-i2c";
		reg = <0xb00 0x100>;
		clocks = <&clkc RTD1295_CLK_EN_MISC_I2C_5>;
		interrupt-parent = <&misc_irq_mux>;
		interrupts = <14>;
		#address-cells = <1>;
		#size-cells = <0>;
		status = "disabled";
	};
};

&sb2 {
	bridge@0 {
		compatible = "realtek,rtd1295-sb2";
		reg = <0x0 0x100>;
		interrupts = <GIC_SPI 36 IRQ_TYPE_LEVEL_HIGH>;
	};

	chip-info@200 {
		compatible = "realtek,rtd1195-chip";
		reg = <0x200 0x8>;
		crt-syscon = <&crt>;
	};

	sb2_pinctrl: pinctrl@900 {
		compatible = "realtek,rtd1295-sb2-pinctrl";
		reg = <0x900 0x100>;

		i2c2_pins: i2c2-pins {
			function = "i2c2";
			groups = "tp1_sync", "tp1_clk";
		};

		i2c3_pins: i2c3-pins {
			function = "i2c3";
			groups = "tp1_data", "tp1_valid";
		};

		i2c4_pins: i2c4-pins {
			function = "i2c4";
			groups = "i2c_scl_4", "i2c_sda_4";
		};

		i2c5_pins: i2c5-pins {
			function = "i2c5";
			groups = "i2c_scl_5", "i2c_sda_5";
		};
	};
};

&scpu_wrapper {
	scpu@0 {
		compatible = "realtek,rtd1295-scpu-wrapper";
		reg = <0x0 0x500>;
		interrupts = <GIC_SPI 46 IRQ_TYPE_LEVEL_HIGH>;
	};
};
