/*
 * Copyright (c) 2017 Andreas Färber
 *
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 */

/memreserve/ 0x00000000 0x0000c000; /* boot code */
/memreserve/ 0x0000c000 0x000f4000;
/memreserve/ 0x01b00000 0x00400000; /* audio */
/memreserve/ 0x01ffe000 0x00004000; /* rpc ringbuf */
/memreserve/ 0x10000000 0x00100000; /* secure */
/memreserve/ 0x17fff000 0x00001000;
/memreserve/ 0x18000000 0x00100000; /* rbus */
/memreserve/ 0x18100000 0x01000000; /* nor */

#include <dt-bindings/clock/realtek,rtd1195.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/reset/realtek,rtd1195.h>

/ {
	compatible = "realtek,rtd1195";
	interrupt-parent = <&gic>;
	#address-cells = <1>;
	#size-cells = <1>;

	aliases {
		i2c0 = &i2c_0;
		i2c1 = &i2c_1;
		i2c2 = &i2c_2;
		i2c3 = &i2c_3;
		i2c4 = &i2c_4;
		i2c5 = &i2c_5;
		i2c6 = &i2c_6;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x0>;
			enable-method = "realtek,rtd1195-smp";
			clock-frequency = <1000000000>;
		};

		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a7";
			reg = <0x1>;
			enable-method = "realtek,rtd1195-smp";
			clock-frequency = <1000000000>;
		};
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		secure@10000000 {
			reg = <0x10000000 0x100000>;
			no-map;
		};

		rbus@18000000 {
			reg = <0x18000000 0x100000>;
			no-map;
		};

		nor@18100000 {
			reg = <0x18100000 0x1000000>;
			no-map;
		};
	};

	arm-pmu {
		compatible = "arm,cortex-a7-pmu";
		interrupts = <GIC_SPI 48 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 49 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-affinity = <&cpu0>, <&cpu1>;
	};

	timer {
		compatible = "arm,armv7-timer";
		interrupts = <GIC_PPI 13
			(GIC_CPU_MASK_RAW(0xf) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14
			(GIC_CPU_MASK_RAW(0xf) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11
			(GIC_CPU_MASK_RAW(0xf) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10
			(GIC_CPU_MASK_RAW(0xf) | IRQ_TYPE_LEVEL_LOW)>;
		clock-frequency = <27000000>;
	};

	osc27M: osc {
		compatible = "fixed-clock";
		clock-frequency = <27000000>;
		#clock-cells = <0>;
		clock-output-names = "osc27M";
	};

	clk_sys: sys-clk {
		compatible = "fixed-factor-clock";
		clocks = <&osc27M>;
		clock-div = <1>;
		clock-mult = <9>;
		#clock-cells = <0>;
	};

	dummy_clk: dummy-clk {
		compatible = "fixed-clock";
		clock-frequency = <0>;
		#clock-cells = <0>;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		clkc: clock-controller@18000000 {
			compatible = "realtek,rtd1195-clk";
			reg = <0x18000000 0x1000>;
			clocks = <&osc27M>, <&clk_sys>;
			#clock-cells = <1>;
		};

		reset1: reset-controller@18000000 {
			compatible = "realtek,rtd1295-reset";
			reg = <0x18000000 0x4>;
			#reset-cells = <1>;
		};

		reset2: reset-controller@18000004 {
			compatible = "realtek,rtd1295-reset";
			reg = <0x18000004 0x4>;
			#reset-cells = <1>;
		};

		reset3: reset-controller@18000008 {
			compatible = "realtek,rtd1295-reset";
			reg = <0x18000008 0x4>;
			#reset-cells = <1>;
		};

		iso_clkc: clock-controller@18007000 {
			compatible = "realtek,rtd1195-iso-clk";
			reg = <0x18007000 0x100>;
			clocks = <&osc27M>, <&clk_sys>;
			#clock-cells = <1>;
		};

		iso_irq_mux: interrupt-controller@18007000 {
			compatible = "realtek,rtd1195-iso-irq-mux";
			reg = <0x18007000 0x100>;
			interrupts = <GIC_SPI 41 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-controller;
			#interrupt-cells = <1>;
		};

		iso_reset: reset-controller@18007088 {
			compatible = "realtek,rtd1295-reset";
			reg = <0x18007088 0x4>;
			#reset-cells = <1>;
		};

		watchdog@18007680 {
			compatible = "realtek,rtd1195-watchdog";
			reg = <0x18007680 0x100>;
			clocks = <&osc27M>;
		};

		uart0: serial@18007800 {
			compatible = "snps,dw-apb-uart";
			reg = <0x18007800 0x400>;
			reg-shift = <2>;
			reg-io-width = <4>;
			resets = <&iso_reset RTD1195_ISO_RSTN_UR0>;
			clocks = <&iso_clkc RTD1195_ISO_CLK_EN_MISC_UR0>;
			interrupt-parent = <&iso_irq_mux>;
			interrupts = <2>;
			status = "disabled";
		};

		i2c_0: i2c@18007d00 {
			compatible = "snps,designware-i2c";
			reg = <0x18007d00 0x100>;
			resets = <&iso_reset RTD1195_ISO_RSTN_I2C_0>;
			clocks = <&iso_clkc RTD1195_ISO_CLK_EN_I2C_0>;
			interrupt-parent = <&iso_irq_mux>;
			interrupts = <8>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c_6: i2c@18007e00 {
			compatible = "snps,designware-i2c";
			reg = <0x18007e00 0x100>;
			resets = <&iso_reset RTD1195_ISO_RSTN_I2C_6>;
			clocks = <&iso_clkc RTD1195_ISO_CLK_EN_I2C_6>;
			interrupt-parent = <&iso_irq_mux>;
			interrupts = <10>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		sb2@1801a000 {
			compatible = "realtek,rtd1195-sb2";
			reg = <0x1801a000 0x100>;
			resets = <&reset3 RTD1195_RSTN_SB2>;
			interrupts = <GIC_SPI 36 IRQ_TYPE_LEVEL_HIGH>;
		};

		chip-info@1801a200 {
			compatible = "realtek,rtd1195-chip";
			reg = <0x1801a200 0x8>;
		};

		misc_irq_mux: interrupt-controller@1801b000 {
			compatible = "realtek,rtd1195-misc-irq-mux";
			reg = <0x1801b000 0x100>;
			interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-controller;
			#interrupt-cells = <1>;
		};

		uart1: serial@1801b200 {
			compatible = "snps,dw-apb-uart";
			reg = <0x1801b200 0x100>;
			reg-shift = <2>;
			reg-io-width = <4>;
			resets = <&reset2 RTD1195_RSTN_UR1>;
			clocks = <&clkc RTD1195_CLK_EN_UR1>;
			interrupt-parent = <&misc_irq_mux>;
			interrupts = <3>, <5>;
			status = "disabled";
		};

		i2c_1: i2c@1801b300 {
			compatible = "snps,designware-i2c";
			reg = <0x1801b300 0x100>;
			resets = <&reset2 RTD1195_RSTN_I2C_1>;
			clocks = <&clkc RTD1195_CLK_EN_I2C_1>;
			interrupt-parent = <&misc_irq_mux>;
			interrupts = <4>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		rtc: rtc@1801b600 {
			compatible = "realtek,rtd1195-rtc", "realtek,rtd1295-rtc";
			reg = <0x1801b600 0x100>;
			resets = <&reset2 RTD1195_RSTN_RTC>;
			clocks = <&clkc RTD1195_CLK_EN_MISC_RTC>;
		};

		i2c_2: i2c@1801b700 {
			compatible = "snps,designware-i2c";
			reg = <0x1801b700 0x100>;
			resets = <&reset2 RTD1195_RSTN_I2C_2>;
			clocks = <&clkc RTD1195_CLK_EN_I2C_2>;
			interrupt-parent = <&misc_irq_mux>;
			interrupts = <26>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c_3: i2c@1801b900 {
			compatible = "snps,designware-i2c";
			reg = <0x1801b900 0x100>;
			resets = <&reset2 RTD1195_RSTN_I2C_3>;
			clocks = <&clkc RTD1195_CLK_EN_I2C_3>;
			interrupt-parent = <&misc_irq_mux>;
			interrupts = <23>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c_4: i2c@1801ba00 {
			compatible = "snps,designware-i2c";
			reg = <0x1801ba00 0x100>;
			resets = <&reset2 RTD1195_RSTN_I2C_4>;
			clocks = <&clkc RTD1195_CLK_EN_I2C_4>;
			interrupt-parent = <&misc_irq_mux>;
			interrupts = <15>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c_5: i2c@1801bb00 {
			compatible = "snps,designware-i2c";
			reg = <0x1801bb00 0x100>;
			resets = <&reset2 RTD1195_RSTN_I2C_5>;
			clocks = <&clkc RTD1195_CLK_EN_I2C_5>;
			interrupt-parent = <&misc_irq_mux>;
			interrupts = <14>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		scpu@1801d000 {
			compatible = "realtek,rtd1195-scpu-wrapper";
			reg = <0x1801d000 0x500>;
			clocks = <&clkc RTD1195_CLK_EN_SCPU>;
			interrupts = <GIC_SPI 46 IRQ_TYPE_LEVEL_HIGH>;
		};

		gic: interrupt-controller@ff011000 {
			compatible = "arm,cortex-a7-gic";
			reg = <0xff011000 0x1000>,
			      <0xff012000 0x2000>,
			      <0xff014000 0x2000>,
			      <0xff016000 0x2000>;
			/*interrupts = <GIC_PPI 9 (GIC_CPU_MASK_SIMPLE(2) | IRQ_TYPE_LEVEL_LOW)>;*/
			interrupt-controller;
			#interrupt-cells = <3>;
		};
	};
};
