/*
 * Copyright (c) 2017 Andreas Färber
 *
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 */

/dts-v1/;

#include "rtd1195.dtsi"

/ {
	compatible = "mele,x1000", "realtek,rtd1195";
	model = "MeLE X1000";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};
};

&rtc {
	status = "disabled";
};

&uart0 {
	status = "okay";
};
