/*
 * Copyright (c) 2017 Andreas Färber
 *
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

#include "rtd1195.dtsi"

/ {
	compatible = "mele,x1000", "realtek,rtd1195";
	model = "MeLE X1000";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};

	leds {
		compatible = "gpio-leds";

		blue {
			label = "x1000:blue:power";
			gpios = <&misc_gpio 7 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};
};

&i2c_0 {
	status = "okay";
};

&i2c_2 {
	status = "okay";

	touchscreen@5d {
		compatible = "goodix,gt928";
		reg = <0x5d>;
		/*interrupt-parent = <&misc_gpio_irq>;
		interrupts = <46>;*/
	};
};

&i2c_5 {
	status = "okay";

	rtc@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
		#clock-cells = <0>;
	};
};

&rtc {
	status = "disabled";
};

&uart0 {
	status = "okay";
};
